* {
	margin: 0;
	padding: 0;
}

html, body {
	/*设置全屏*/
	height: 100%;
	/*去掉滚动条*/
	overflow: hidden;
	font-family: Helvetica, Arial, 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;

}

*, *:after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#container, .sections, .section {
	/*设置全屏*/
	height: 100%;
}

.section {
	color: #fff;
	text-align: center;
}

#section0 {
	background-color: #435A6B;
}

#section0 .row {
	padding: 100px;
}

#section0 .row .title {
	line-height: 100px;
}

#section1 {
	background-color: #3FA46A;
}

#section1 .row {
	padding: 70px;
	overflow: hidden;
}

.stackone {
	// margin: 0 auto;
	float: left;
	height: 200px;
	width: 200px;
	margin: 100px 50px 0 520px;
	position: relative;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
}

.stackone img {
	border: 6px solid #fff;
	height: 100%;
	width: 100%;
	z-index: 1;
	position: relative;
}

.stackone:before {
	content: "";
	height: 200px;
	width: 200px;
	background: #435A6B;
	border: 6px solid #fff;
	position: absolute;
	// z-index: 10;
	top: 0;
	left: -10px;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.stackone:after {
	content: "";
	height: 200px;
	width: 200px;
	background: #768590;
	border: 6px solid #fff;
	position: absolute;
	// z-index: -1;
	top: 5px;
	left: 0;
	-webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	transform: rotate(4deg);
}

#section2 {
	background-color: #CD4436;
}

#section2 .row {
	padding: 60px;
	overflow: hidden;
}

.nav-section {
	padding: 2em 2em;
}

.nav-section img {
	height: 100%;
}

nav {
	margin: 20px 0;
}

nav a {
	position: relative;
	display: inline-block;
	margin: 15px 35px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover {
	outline: none;
}

.effect-1:before, .effect-1:after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.effect-1:before {
	content: "[";
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.effect-1:after {
	content: "]";
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.effect-1:hover:before, .effect-1:hover:after {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	transform: translateX(0);
}

.effect-2:before, .effect-2:after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	border: 2px solid rgba(0,0,0,0.1);
	border-radius: 50%;
	content: '';
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
	transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.effect-2:after {
	width: 90px;
	height: 90px;
	border-width: 6px;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
	transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.effect-2:hover:before, .effect-2:hover:after {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}

/*#e35041*/
.effect-3 {
	overflow: hidden;
	margin: 0 15px;
}

.effect-3 span {
	position: relative;
	z-index: 2;
	display: block;
	padding: 10px 20px;
	background: #e35041;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
.effect-3:hover span {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
}

.effect-3:before {
	position: absolute;
	top: 0;
	left: 0;
	// z-index: -1;
	padding: 10px 20px;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #e35041;
	content: attr(data-hover);
	// text-align: center;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
	-moz-transform: translateX(-25%);
	transform: translateX(-25%);
}

.effect-3:hover:before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}

.effect-4 {
	overflow: hidden;
	margin: 0 15px;
}

.effect-4 span {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.effect-4 span:before {
	position: absolute;
	top: 100%;
	font-weight: 700;
	content: attr(data-hover);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.effect-4 span:hover {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

.effect-5 {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.effect-5:hover {
	color: #9B2417;
}

.effect-5 span:before {
	position: absolute;
	top: 100%;
	left: 50%;
	color: transparent;
	content: '•';
	text-shadow: 0 0 transparent;
	font-size: 1.2em;
	-webkit-transition: text-shadow 0.3s, color 0.3s;
	-moz-transition: text-shadow 0.3s, color 0.3s;
	transition: text-shadow 0.3s, color 0.3s;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	pointer-events: none;
}

.effect-5 span:hover:before {
	color: #fff;
	text-shadow: 10px 0 #fff, -10px 0 #fff;
}

.effect-6 {
	padding: 10px 0;
	border-top: 2px solid #e35041;
	color: #e35041;
	text-shadow: none;
}

.effect-6 span:before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 10px 0;
	max-width: 0;
	border-bottom: 2px solid #fff;
	color: #fff;
	content: attr(data-hover);
	-webkit-transition: max-width 0.5s;
	-moz-transition: max-width 0.5s;
	transition: max-width 0.5s;
}

.effect-6 span:hover:before {
	max-width: 100%;
}

.effect-7 {
  line-height: 44px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}

.effect-7 span {
  position: relative;
  display: inline-block;
  padding: 0 14px;
  background: #e35041;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.effect-7:hover span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}

.effect-7 span:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #CC2F1E;
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.effect-7:hover span:before {
	background: #E65E4F;
}

#section3 {
	background-color: #0E83CD;
}

.pages{
	position:fixed;
	right: 10px;
	top: 50%;
	list-style: none;
}
.pages li{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
	margin: 0 0 10px 3px;
	position: relative;
	cursor: pointer;
}
.pages li.active{
	width: 14px;
	height: 14px;
	border: 2px solid #fff;
	background: none;
	margin-left: 0;
}

.pages li .hover-text {
	position: absolute;
	top: -6px;
	right: 12px;
	padding-right: 0.6em;
	width: 4.6em;
	opacity: 0;
	color: #fff;
	text-align: right;
	-webkit-transition: opacity 0.3s;
	-moz-transition: opacity 0.3s;
	transition: opacity 0.3s;
	line-height: 18px;
}

li:hover .hover-text {
	opacity: 1;
}
